<section id="contact" class="section-container">
    <div class="contact-container">
        <div class="contact-sub-container">
            <p class="textColor">GET IN TOUCH</p>
            <h1 class="textColor1">Contact.</h1>

            <div class="widthAlign">
                <label>
                    <span class="labelText">Your Name</span>
                    <input class="textInput"id="contact-name" placeholder="What's your name?" />
                </label>

                <label>
                    <span class="labelText">Your Email</span>
                    <input class="textInput" id="contact-mail" placeholder="What's your email?" />
                </label>

                <label>
                    <span class="labelText">Your Message</span>
                    <textarea class="textInput" id="contact-message" placeholder="What do you want to say?"></textarea>
                </label>

                <button class="btn-send">Send</button>
            </div>
        </div>
    </div>
</section>