.exp-container {
    max-width: 80rem;
    transform: none;
    opacity: 1;
    padding: 2.5rem 2.5rem;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    top: 5rem;
}

.textColor {
    color: #AAA6c3;
}

.textColorExp {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
}

.vertical_container {
    margin: 0 auto;
    width: 90%;
}

.last-exp,
.first-exp {
    background-color: #1D1836;
    width: 44%;
    padding: 2rem;
    color: #fff;
}

.first-exp {
    margin: 4em 0;
}

.exp-role{
    color: #fff;
    font-size: 24px;
}

.exp-company{
    color: #AAA6c3;
    font-size: 16px;
}

.list-points{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5rem;
    color: #F3F3F3;

    li{
        padding-bottom: 0.8rem;
        color: #F3F3F3;
    }
}