<section id="experience" class="exp-container">
    <div class="exp-container-div">
    <p class="textColor">WHAT I HAVE DONE SO FAR</p>
    <h2 class="textColorExp">Work Experience.</h2>
    </div>
    <br/><br/>
    <div class="vertical_container">
    <div class="last-exp">
        
        <p class="exp-role">Senior Front end developer
            <span>(Chennai)</span>
        </p>
        <p class="exp-company">Cognizant Technology solutions (Dec2019 -Feb2023)</p>
        <ul class="list-points">
            <li>Involved in technical analysis, development with VS Code and
                writing test cases with Jest, build using npm/yarn, deployment
                using Jenkins, CI / CD pipelines while in necessary time.</li>
            <li>Worked in React js framework which is new and challenging
                one by learning and simultaneously working on assigned
                stories. </li>
            <li>Collaborated with internal and development partners regarding
                software application design status and project progress. Developed reusable components that
                significantly
                reduced
                development effort on multiple projects. </li>
            <li>Mentored junior developers, sharing knowledge and expertise
                to support their professional growth and development within
                team. </li>
            <li>
                Well-versed in Software Development and Life Cycle (SDLC), Agile methodology, Version control system
                (GIT),
                Defect
                tracking tool (Jira), Problem solving, Technical solutions to
                bug fixes, Zero tolerance in delivery, communication with team
                and client.</li>
        </ul>

    </div>

    <div class="first-exp">
        
        <p class="exp-role">Software Engineer
            <span>(Chennai)</span>
        </p>
        <p class="exp-company">ReDIM Information Systems Private Limited (Apr2017 -Nov2019)</p>
        <ul class="list-points">
            <li>Involved in technical analysis, Web and Mobile Game
                Applications development using Angular with Typescript, writing test cases with Karma and Jasmine, UX
                discussions, API design discussions and collaborates with Back end team
                for data and development integrations.</li>
            <li>Worked in an Agile methodology to define stories, do
                estimations and plan sprint and documentation. </li>
            <li>Developed and implemented strategies to increase customer
                satisfaction and engagement. </li>
            <li>Analyzed proposed technical solutions based on customer
                requirements. </li>
            <li>Consistently met project deadlines by effectively managing
                time and prioritizing tasks according to importance.</li>
            <li>Built efficient and reusable code and libraries then ensured
                cross-browser and cross-device compatibility.</li>
            <li>Worked as single resource for moving Legacy application to
                HTML5 game without changing the functionalities and
                designs and played a good team player</li>
        </ul>

    </div>

    </div>
</section>