.section-container {
    max-width: 80rem;
    transform: none;
    opacity: 1;
    padding: 2.5rem 2.5rem;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    top: 5rem;

    .text-container {
        /* margin-top: 100px; */
        opacity: 1;
        transform: none;
    }

    .textColor {
        font-size: 18px;
        color: #AAA6c3;
    }

    .textColor1 {
        font-size: 60px;
        color: #fff;
        font-weight: 800;
        line-height: 70px;
    }

    .widthAlign {
        line-height: 30px;
        color: #AAA6c3;
        max-width: 48rem !important;
        font-size: 17px;
        margin-top: 1rem;
        margin: 0;
        opacity: 1;
        transform: none;
    }


}