<section id="about" class="section-container">
    <div class="text-container">
        <p class="textColor">INTRODUCTION</p>
        <h1 class="textColor1">Overview.</h1>
        </div>
        <p class="widthAlign">
            I'm an experienced Senior Front End Developer with a strong foundation in JavaScript ecosystems,
            specializing in Angular, TypeScript, React, React Redux, HTML5, CSS3, JavaScript, Bootstrap.
            I excel in building scalable, high-performance web applications and implementing complex
            business logic, with experience leading development teams. My technical toolkit includes
            expertise in Built and Deployment platforms like Jenkins, Continuous integrity and Continuous Deliverables
            (CI/CD) pipelines and version control such as GIT. As a quick learner and proactive collaborator, I'm
            dedicated to creating user-centric, efficient solutions that solve real-world challenges. Let's work
            together to bring your ideas to life!
        </p>
</section>