<section id="projects" class="project-container">
    <div>
        <p class="textColor">MY WORK</p>
        <h1 class="textColor1">Projects.</h1>
    </div>
    <p class="widthAlign">
        These projects are my fun creations, built during my free time as a hobby to help others and explore new ideas.
        Each one showcases my skills with real-world examples, complete with code repositories and live demos. They
        reflect my passion for problem-solving, experimenting with technologies, and building useful tools.
    </p>
</section>