.project-container-p {
    max-width: 48rem;
}

.project-container {
 
    max-width: 80rem;
    transform: none;
    opacity: 1;
    padding: 2.5rem 2.5rem;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    /* top:2rem; */

    .textColor {
        font-size: 18px;
        color: #AAA6c3;
    }
    .textColor1 {
        font-size: 60px;
        color: #fff;
        font-weight: 800;
    }
    .widthAlign{
        color: #AAA6c3;
        max-width: 48rem !important;
        font-size: 17px;
        line-height: 2rem;
    }

    
}