<section class="section-container">
    <div class="intro-container" >
      <!-- <div class="intro-sub-container"> -->
      <div class="intro-arrow-container">
        <div class="round-point"></div>
        <div class="intro-arrow"></div>
      </div>
      <div>
        <h1 class="intro-name">Hi, I'm <span class="colortext">Devika</span></h1>
        <p class="intro-line">Senior Front End Developer with expertise in<br>building exceptional digital experiences</p>
        <button
          (click)="handleDownloadResume()"
          class="kanit-bold download-btn">
          Download Resume
        </button>
      </div>
    <!-- </div> -->
    </div>
  </section>