.section-container{
    width: 100%;
    /* height: 100vh; */
    margin: 0;
    position: relative;
}

.intro-container {
    position: relative;
    max-width: 80rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    gap: 1.25rem;
    right: 0;
    bottom: 0;
    left: 0;
    top: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.colortext {
    color: #915eff;
}

.bg-colortext {
    background-color: #915eff;
    border-color: #915eff;
}

.intro-arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.intro-name {
    color: #fff;
    font-size: 6rem;
    line-height: 1.2;
}

.intro-line {
    color: white;
    margin-top: 0.5rem;
    font-size: 2rem;
}

.download-btn {
    width: fit-content;
    border-radius: .75rem;
    margin-top: 2rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    outline-style: nonw;
    background: #915eff;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.1rem;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  */
}

.download-btn:hover {
    background-color: #7f44ff;
    border-color: #7f44ff;
}

.round-point {
    background-color: #915eff;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
}

.intro-arrow {
    height: 10rem;
    width: .25rem;
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}
